@import "tailwindcss";
@theme {
  --color-background: #ffffff;
  --color-main: #0D5466;
  --color-second: #129786;
  --color-third: #0DB59D;
  --color-gtext: #4B4B4B;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
}

.hero__section > .container__hero,
.video__section{ 
  background: url("/assets/Hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* Components */
.hero__highlight{
  position: relative;  
  width: fit-content;
  z-index: 1;
}
.hero__highlight::after{
    content: "";
    position: absolute;
    z-index: -1;
    background-color: #0db59d;  
    border-radius: 10px 17px 10px 0;
    width: fit-content;
    height: 50px;
    padding: 30px 90px;
    display: flex;
    top: 5px;
    left: -12px;
    transform: translate(-50%, -50%);
    transform: rotate(-4deg);
} 

.title__white{
  color:white;
  margin: 20px auto;
}
.title{
  color:var(--color-main);
    margin: 50px auto;

}
.title,
.title__white{
  font-size: xxx-large;
  font-weight: bold;
  text-align: center;
  position: relative;
  width: fit-content;
}
.title::after{
  content: "";
  overflow: visible;
  background: url("/assets/Title-line.svg");
  background-repeat: no-repeat;
  position: absolute;
  width: 220px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  left: 50%;
  transform: translateX(-50%);
} 
